* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* commmant */

.container {
    padding: 0 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1140px;
}

.x-nav {
    background-color: #306850 !important;
}

.text-white {
    color: #fff !important;
}

.row {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.p-20 {
    padding: 20px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.ml-6 {
    margin-left: 6px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.float-end {
    float: right!important;
}

.text-center {
    text-align: center !important;
}

.border {
    border: 1px solid #dee2e6!important;
}

.color-change {
    background-color: #dee2e6;
}

/* end commant */

.header {
    position: relative;
    background-color: #fff;
    padding-bottom: 16px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
}

.header .navbar {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%);
    flex-wrap: nowrap;
    display: flex;
    position: relative;
}

.navbar > .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.container {
    padding: 0 12px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1140px;
}

.navbar-logo {
    margin-right: 16px;
}

.nav-bar-content {
    flex-grow: 1;
    align-items: center;
}

.ti-align-justify {
    display:none;
}

.nav-bar-content .navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
}

.navbar-nav .nav-item:hover a {
    background-color: #fff;
    color: #306850;
}

.nav-logo-cart {
    padding: 17px 8px;
}

.nav-logo-cart a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
}

.header__notify {
    position: absolute;
    top: 100%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: #333;
    cursor: default;
    transform-origin: calc(100% - 50%) top;
    animation: headerNotifyGrowth ease-in .2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 99;
}


@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.nav-logo-cart:hover .header__notify {
    display: block;
}

.header__notify-header {
    background-color: #fff;
    height: 40px;

}

.header__notify-header h3 {
    color: #306850;
    font-size: 14px;
    margin: 0 0 0 12px;
    font-weight: 400;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #306850;
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(218, 200, 197, 0.08);
}

.header__notify-img {
    width: 48px;
    object-fit: contain;
    height: 50px;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 8px;
    font-weight: 400;
    line-height: 18px;
}

.header__notify-desc {
    display: block;
    font-size: 12px;
    color: #f7f7f7;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
    /* justify-content: center; */
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px 16px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.search-box {
    background-color: #fff;
    color: #000;
    padding: 16px 48px;
    margin: 0 250px;
    cursor: pointer;
}

.search-box .custom-box {
    position: relative;
    border: 1px solid #306850;
    border-radius: 25px;
    padding-left: 8px;
}

.custom-box .input-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.input-box .search-input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.search-box-btn #Search {
    border: 1px solid #306850;
    border-radius: 25px;
    padding: 7px 48px;
    font-size: 14px;
    font-weight: 600;
    background-color: #306850;
    color: #fff;
    transition: ease 0.2s;
    outline: none;
}

.search-box-btn #Search:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header-info {
    text-align: center;
    padding-bottom: 20px;
}

.header-text {
    font-size: 30px;
    margin-bottom: 20px;
}

.header-text2 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 19px;
}

.sub-nav-list .sub-nav-item {
    list-style-type: none;
    display: inline-block;
    margin-left: 8px;
    transition: ease 0.3s;
}

.sub-nav-list .sub-nav-item:hover a {
    color: #306850;
}

.sub-nav-item a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.sub-nav-item .ti-home {
    font-weight: 700;
}

.content {
    background-color: #D3D3D3;
    padding-top: 20px;
}

.content .x-box {
    background-color: #fff;
}

.content .col-md-5 {
    flex: 0 0 auto;
    width: 50%;
}

.col-md-5 .img-product {
    border-radius: 25px;
}

.info-product .name-product {
    overflow: hidden;
    display: -webkit-box;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.2;
    color: #306850;
    font-size: 32px;
    border-bottom: 1px solid #ccc;
    height: 135px;
}

.info-product .quest {
    line-height: 1.2;
    color: #6d7074;
    font-size: 14px;
    font-style: italic;
}

.desc-product a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
}

.desc-product a:hover {
    color: #306850;
}

.price {
    margin-top: 20px;
    font-size: 30px;
    color: #306850;
}

.btn-buy-review {
    margin-top: 10px;
    display: flex;
}

.review-btn,
.buy-btn {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 12px 30px;
    background: #ee4d2d;
    outline: 0;
    transition: .3s;
    border-radius: 10px;
    text-decoration: none;
    
}

.review-btn {
    background-color: #f9c642;
}

.review-btn:hover,
.buy-btn:hover {
    background-color: #306850;
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.list-group > .list-group-item {
    border-width: 0 0 1px;
}

.list-group .list-group-item {
    position: relative;
    display: block;
    padding: 8px;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.list-group-item .btn-sm {
    width: 150px;
    background-color: transparent;
    color: #dc3545;
    outline: none;
    border: 1px solid #dc3545;
    border-radius: 2px;
    padding: 6px;
    transition: ease .3s;
}

.list-group-item:hover {
    background-color: rgb(243, 216, 216);
    cursor: pointer;
}

.btn-sm:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    cursor: pointer;
}

.detail {
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.detail .detail-header {
    border-bottom: 1px solid #306850;
}

.detail-header h1 {
    font-size: 30px;
    padding: 12px 12px;
    color: #306850;
}

.detail .x-box {
    padding: 16px;
}

.detail-desc {
    text-align: justify;
    overflow-wrap: break-word;
    line-height: 28px;
    color: #012e42;
    line-height: 38px;
    margin-bottom: 20px;
}

.desc-title {
    font-size: 25px;
}

.detail-desc .desc-img {
    max-width: 100%;
    height: auto;
    margin: 5px auto;
    display: block;
}

.text-center a {
    text-decoration: none;
    color: #306850;
    border: 1px solid #306850;
    padding: 12px;
    border-radius: 10px;
    transition: ease .3s;
}

.text-center:hover a {
    background-color: #306850;
    color: #fff;
}

.sub-desc {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sub-desc h2 {
    font-size: 25px;
}

.table {
    width: 100%;
    margin-top: 16px;
}

.table tbody {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.table tbody tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.table th, td {
    padding: 10px;
    text-align: left;
}

.backgr-white {
    background-color: #333;
}

.wrapper-footer {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-footer .footer-about {
    flex: 0 0 auto;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 12px;
    margin-top: 22px;
}

.footer-about .nav-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.nav-brand .footer-logo {
    max-width: 100%;
    min-height: 50px;
    display: inline-block;
    padding: 3px;
}

.sub-f-about {
    padding-top: 6px;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
}

.sub-f-about p {
    margin-bottom: 16px;
}

.footer-list {
    flex: 0 0 auto;
    width: 25%;
    padding: 0 12px;
    margin-top: 16px;
}

.f-list-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.footer-list ul {
    list-style-type: none;
    margin-top: 10px;
}

.f-list-item {
    color: #fff;
    padding: 5px 0;
}

.f-list-item:hover {
    color: rgb(169, 169, 238);
    cursor: pointer;
}

.footer-contact {
    margin-top: 22px;
}

.footer-bottom {
    background-color: #ccc;
}

.ft-copyright {
    text-align: center;
    padding: 8px 0;
}